.section-subtitle_theme_dark {
    margin: 0 auto 0 auto;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
  }