.kaufman__triangle {
    background-image: url(../../../images/kaufman-triangle.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 877px;
    height: 877px;
    top: 0;
    right: -210px;
    z-index: 0;
    animation: rotate 20s linear infinite;
  }