.footer__column-links {
    margin: 20px 0 16px 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
    color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
  }